body{

margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
text-align:center;

}


.header{

background:#111;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

box-shadow:0 0 20px black;

}

.logo{

font-size:26px;
color:gold;
font-weight:bold;

}

.balanceBox{

font-size:18px;
color:#00ff88;

}


.lobby{

margin-top:60px;

}


.games{

margin-top:40px;

}


.gameBtn{

width:220px;
height:70px;

font-size:22px;

margin:15px;

border:none;

border-radius:12px;

background:linear-gradient(45deg,#ffd700,#ff8c00);

color:black;

cursor:pointer;

transition:0.3s;

box-shadow:0 0 10px gold;

}


.gameBtn:hover{

transform:scale(1.1);

box-shadow:0 0 20px gold;

}


.footer{

margin-top:100px;
color:gray;

}